* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	min-height: 100vh;
	background-color: tomato;
	color: white;
}

.main-container {
	height: 100vh;
	width: 80%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

header {
	height: 15vh;
}

header h1 {
	height: 15vh;
	line-height: 15vh;
	font-size: 50px;
}

main {
	height: 75vh;
	margin-top: 15px;
	/* overflow-y: scroll; */
}

.form-container {
	padding: 10px;
	height: 60px;
}

.todo-input {
	height: 40px;
	width: 500px;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
	border: none;
	outline: none;
}

input::placeholder {
	font-weight: 500;
}

.todo-btn {
	height: 40px;
	width: 40px;
	border: none;
	font-size: 18px;
	background-color: white;
	color: tomato;
	cursor: pointer;
	outline: none;
	transition: all 0.2s ease;
	border: 1px solid white;
}

.todo-btn:hover {
	background-color: tomato;
	color: white;
}

.todo-container {
	width: 302px;
	height: 365px;
	margin: 0 auto;
	margin-top: 50px;
	color: black;
	overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
	width: 1px;
}
/* Track */
::-webkit-scrollbar-track {
	background: tomato;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: tomato;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: tomato;
}

.todo {
	width: 300px;
	display: flex;
	height: 35px;
	background-color: white;
	margin-bottom: 5px;
}

.todo-item {
	list-style: none;
	width: 250px;
	line-height: 32px;
	letter-spacing: 1px;
	font-weight: 500;
}

.complete-btn,
.delete-btn {
	height: 35px;
	width: 41px;
	border: none;
	font-size: 18px;
	background-color: white;
	color: white;
	cursor: pointer;
	outline: none;
}

.complete-btn {
	color: yellowgreen;
	background-color: white;
	transition: all 0.4s ease;
}

.delete-btn {
	color: tomato;
	background-color: white;
	transition: all 0.4s ease;
}

.complete-btn:hover {
	color: white;
	background-color: yellowgreen;
	border: 1px solid white;
}

.delete-btn:hover {
	color: white;
	background-color: tomato;
	border: 1px solid white;
}

.completed {
	font-style: italic;
	text-decoration: line-through;
	opacity: 0.8;
}
